<page>
	<style type="text/css">
		.underline{
			text-decoration: underline;
		}
		.align-right{
			margin-right: : 0;
		}
	</style>
	<img src="./bundles/laapp/img/logo-louvre.jpg" width="180"><br/>
	<div id="qrcode" class="content-box">
		<qrcode value="{{ ticket.validationCode }}" ec="H" style="width: 180px; background-color: white; color: black;"></qrcode>
		<small>{{ ticket.validationCode }}</small>
	</div>
	<div id="visitor" class="content-box">
		<h1>Musée du louvre</h1>
		<span class="underline">Visiteur :</span><br/><br/>
		<span><big>{{ ticket.name }} {{ ticket.firstName }}</big></span><br/><br/>
		<span class="underline">Type de billet :</span><br/><br/>
		<span><big>{{ order.ticketsType }}</big></span><br/><br/>
		<span class="underline">Date de la visite :</span><br/><br/>
		<span><big>{{ order.visitDate|date("d/m/Y") }}</big></span><br/><br/>
		<span class="underline">Tarif :</span><br/><br/>
		<span><big>{{ ticket.price / 100 }}€</big></span><br/><br/>
		<span class="underline">Tarif réduit :</span><br/><br/>
		<span><big>{% if ticket.reduced %}<strong style="color:red;">Justificatif nécessaire</strong>{% else %}Non appliquable{% endif %}</big></span><br/><br/>
		<span class="underline">Commande :</span><br/><br/>
		<span><big>n°{{ order.id }}</big></span>
	</div>
	<page_footer>
		<hr/>
		<small>Copyright 2016 - Louvre Billetterie</small><br/>
		<small>http://ocrp3.steb-srv.fr/</small>
	</page_footer>
</page>