{% extends "LAAppBundle::layout.html.twig" %}

{% block title %}
  Billeterie - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Achat</h2>
  
  {% for type, messages in app.session.flashbag.all %}
    {% for message in messages %}
      {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        <div class="alert alert-{{ type }}">
            {{ message|raw }}
        </div>
    {% endfor %}
  {% endfor %}

  <div class="panel panel-default">
  	<div class="panel-heading">
  	  <h3 class="panel-title">Commande {{ command.id }} :</h3>
  	</div>
  	<ul class="list-group">
        <li class="list-group-item">Réservé par : {{ command.name }} {{ command.firstName }}</li>
        <li class="list-group-item">Nombre de billets : {{ command.nbTickets }}</li>
        <li class="list-group-item">Prix total : {{ command.amount // 100 }}€</li>
    </ul>
	<div class="panel-heading">
  	  <h3 class="panel-title">Liste des billets</h3>
  	</div>
  	<ul class="list-group">
        {% for ticket in command.tickets %}
	  		<li class="list-group-item"><span class="ticket-number">{{ loop.index }}</span>{{ ticket.name }} {{ ticket.firstName }} : {{ ticket.price // 100 }}€</li>
	  	{% endfor %}
    </ul>
  </div>


  <form class="stripe-button-container text-center" method="POST">
	<script
	src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	data-key="pk_test_FKJS6IJ97uJrMv948ebz5Mx4"
	data-amount="{{ command.amount }}"
	data-name="Test bilelterie"
	data-description="Widget"
	data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
	data-locale="auto"
	data-zip-code="true"
	data-currency="eur">
	</script>
  </form>

  <script type="text/javascript">
  	jQuery(document).ready(function() {
  		jQuery('.stripe-button-el').addClass('btn btn-primary stripe-button').removeClass('stripe-button-el');
  		jQuery('.stripe-button span').text('Paiement par carte bancaire');
  	})
  </script>

{% endblock %}