  <h1>Louvre Billeterie</h1>

  <h2>Récapitulatif commande :</h2>

  <div>
    Nom : {{ command.name }} {{ command.firstName }}
    Nombre de ticket : {{ command.nbTickets }}
    Prix total de la commande : {{ command.amount // 100 }}€
  </div>

  <p>
    Vous trouverez ci-dessous les liens pour télécharger vos billets :
  </p>

  {% for ticket in command.tickets %}
    <p>
      {{ ticket.name }} {{ ticket.firstName }} : 
      <a href="{{ absolute_url(path('la_ticketing_ticket_pdf', {'id': ticket.id})) }}">Billet</a>
    </p>
  {% endfor %}
