{% extends "LAAppBundle::layout.html.twig" %}

{% block title %}
  Billeterie - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Achat</h2>

  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}

  <h3>Récapitulatif de votre commande : </h3>

  <div id="command-view">
  	<div>
  		<li>Réservé par : {{ command.name }} {{ command.firstName }}</li>
  		<li>Nombre de billets : {{ command.nbTickets }}</li>
  		<li>Prix total : {{ command.amount // 100 }}€</li>
  	</div>

	<div id="tickets-view">
		<h4>Liste des billets : </h4>
	  	{% for ticket in command.tickets %}
	  		<li>{{ ticket.name }} {{ ticket.firstName }} : {{ ticket.price // 100 }}€</li>
	  	{% endfor %}
	</div>
  </div>


  <form class="stripe-button-container" method="POST">
	<script
	src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	data-key="pk_test_FKJS6IJ97uJrMv948ebz5Mx4"
	data-amount="{{ command.amount }}"
	data-name="Test bilelterie"
	data-description="Widget"
	data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
	data-locale="auto"
	data-zip-code="true"
	data-currency="eur">
	</script>
  </form>

{% endblock %}