{# src/LA/TicketingBundle/Resources/views/Ticketing/order_confirm.html.twig #}
{% extends "LAAppBundle::layout.html.twig" %}

{% block title %}
  Billetterie - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Achat</h2>

  {% for type, messages in app.session.flashbag.all %}
    {% for message in messages %}
      {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        <div class="alert alert-{{ type }}">
            {{ message|raw }}
        </div>
    {% endfor %}
  {% endfor %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Commande {{ order.id }} :</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Nombre de billets : {{ order.nbTickets }}</li>
        <li class="list-group-item">Prix total : {{ order.totalAmount // 100 }}€</li>
    </ul>
  <div class="panel-heading">
      <h3 class="panel-title">Liste des billets</h3>
    </div>
    <ul class="list-group">
        {% for ticket in order.tickets %}
        <li class="list-group-item"><span class="ticket-number">{{ loop.index }}</span>{{ ticket.name }} {{ ticket.firstName }} : {{ ticket.price // 100 }}€ <span class="badge"><a href="{{ path('la_ticketing_ticket_pdf', {'id': ticket.id}) }}">PDF</a></li>
      {% endfor %}
    </ul>
  </div>


{% endblock %}